section{
    position: relative;
        .account{
            position: absolute;
            top: -50px !important;
        }
        .content{
            position: absolute;
            left: 240px !important;
        }

}